{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
  <img src="{% static "images/logo.jpeg" %}" alt="logo" width="600px">
    <h1 class="contents">Take your time.</h1>
    <div class="contents_main"> 🌸MTV 정리🌸
        <ul>
          {% for sentence in first_to_third %}
          <li> {{ sentence }} </li>
          {% endfor %}
            &emsp;<em>how? 
            <ol>
              {% for step in third_step %}
              <li> {{ step }} </li>
              {% endfor %}
            </ol>
          <li> {{last}} </li>
        </ul>  
    </div>
    <div class="contents_main">🌝오늘의 멋쟁이🌛
      <ul>
        <li>It's Me</li>
      </ul>
    </div>
      {% endblock content %}
