{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
  <img src="{% static "images/logo2.jpeg" %}" alt="logo2" width="600px">
  <h1 class="contents">Post List</h1>
  <a href="{% url 'main:new-post' %}"> &nbsp &nbsp &nbsp 게시글 작성</a>
  <div>
    {% for post in posts %}
      <div>
        <hr/>
        <h3>{{post.title}}</h3>
        {{post.writer}} | {{post.pub_date}}<br>
        오늘의 기분: {{post.feel}}<br>
        {% if post.image %} 
          <p><img src="{{ post.image.url }}" alt="사진" width="100px"></p>
        {% endif %}
        {{post.summary}}
        <a href="{% url 'main:detail' post.id %}"><br><br>자세히 보기</a>
        <br>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
